/*To Do: when 'contact' is hovered on, rain some pretty confetti */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  font-family: serif;
  color: rgba(0,0,0,0.78);
}

 .name-logo {
  background: url(../images/sasha-burchuk-header.png) center center no-repeat;
  margin-right: 24px;
  height: 50px;
  width: 350px;
  background-size: contain;
 }

 .-off-screen {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1px; 
  }

 p {
   font-family: 'Open Sans', sans-serif;
   margin-top: 0;
 }

 section {
   position: relative;
 }

/* Use Romana font? */

.heading {
  font-size: 32px;
  margin-bottom: 2%;
}

.intro {
  z-index: 0;
  width: 100%;
  /*height: 100%;*/
  /*min-height: 100vh;*/
  min-height: 25vh;
  min-width: 100vw;
  opacity: 1;
  top: 0;
  left: 0;
  /*background: #FFD0F2;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.intro a {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -79px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 40px;
  border: 2px solid rgba(0,0,0,0.78);
  color: rgba(0,0,0,0.78);
  text-decoration: none;
  transition: background 100ms, color 550ms, border 550ms, ease-in-out;
  transition: background 100ms, color 550ms, border 550ms, ease-in-out;
}

.intro a:hover {
  background: aquamarine;
  border: 2px solid #5830F0;
  color: #5830F0;
  transition: background 100ms, color 550ms, border 550ms, ease-in-out;
  transition: background 100ms, color 550ms, border 550ms, ease-in-out;
}*/

.intro p {
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
}

.flex-center {
  width: 100%;
  /*height: 100%;
  min-height: 100vh;*/
  min-width: 100vw;
  opacity: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
}

li  a {
    text-decoration: none;
}


.section-container {
  min-height: 500px;
  padding: 48px 40px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.container .heading, .container .paragraph {
  margin-left: 2%;
}

.paragraph {
  line-height: 1.5;
  max-width: 650px;
}

.grid h3 {
  text-align: left;
  margin-top: 8px;
  font-weight: normal;
  color: black;
}

.grid .project {
  float: left;
  max-width: 29.333%;
  margin: 2%;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.work .heading {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .grid .project {
    max-width: 46%;
  }
}

@media screen and (max-width: 400px) {
  .grid .project {
    max-width: 100%;
    margin: 20px 0; 
  } 
}

.grid .project img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%; 
}

.project a img {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.project a:hover img {
  opacity: 0.8;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*background-color: aqua;*/
}

footer li {
  margin-right: 40px;
  /*color: #9500FF;*/
}